<%= form_with(model: order, local: true, id: 'shipping-form') do |f| %>
  <%= f.fields_for :shipping, Shipping.new do |ff| %>
    <%= ff.label :city %>
    <%= ff.text_field :city %>
  <% end %>
<!-- #<#%= f.submit 'Finalizar pedido', id: 'submit-button' %> -->
<% end %>

<%= form_with(model: order, local: true, id: 'order-form') do |f| %>
  <%= f.text_field :status %>

  <%= f.submit 'Finalizar pagamento', id: 'submit-button' %>
<% end %>


<!-- 
 <form id="payment-types">
  <input type="radio" id="boleto" name="pay_type" value="boleto">
  <label for="boleto">Boleto</label><br>
  <input type="radio" id="credit-card" name="pay_type" value="credit_card">
  <label for="credit_card">Cartão de crédito</label><br>
  <input type="radio" id="transfer" name="pay_type" value="transfer">
  <label for="transfer">Transferência bancária</label>
</form>

<#%= form_with(model: order, local: true, html: {id: 'boleto-form', style: 'display: none;'}) do |f| %>
  <#%= hidden_field_tag :pay_type, nil, id: 'pay-type-boleto' %>
  <#%= hidden_field_tag :sender_hash, nil, id: 'sender-hash' %>
  <#%= hidden_field_tag :session_id, @session_id, id: 'session-id' %>

  <#%= button_tag('Finalizar pedido', type: 'button', id: 'submit-boleto-form') %>

<#% end %>

<#%= @link %>

<#%= form_with(model: order, local: true, html: {id: 'card-form', style: 'display: none;'}) do |f| %>
   Hidden fields -->
<!--   <div>
    <#%= hidden_field_tag :pay_type, nil, id: 'pay-type-card' %>
    <#%= hidden_field_tag :price, @cart.total_price, id: 'price' %>
    <#%= hidden_field_tag :sender_hash, nil, id: 'sender-hash' %>
    <#%= hidden_field_tag :session_id, @session_id, id: 'session-id' %>    
    <#%= hidden_field_tag :card_token, nil, id: 'card-token' %>
  </div> -->
  <!-- Error message -->
<!--   <#% if order.errors.any? %>
    <div id="error_explanation">
      <h2><#%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <#% order.errors.full_messages.each do |message| %>
          <li><#%= message %></li>
        <#% end %>
      </ul>
    </div>
  <#% end %> -->

  <!-- Dados de pagamento -->
  <!-- 
    <fieldset>
    <legend>Dados do Cartão</legend>
    <div>
      <#%= label_tag :card_name, 'Nome do Titular' %>
      <#%= text_field_tag('card_name', nil,  id: 'card-name', required: true) %>
    </div>
    <div>
      <#%= label_tag :card_document, 'CPF/CNPJ do Titular' %>
      <#%= text_field_tag('card_document', nil, id: 'card-document', required: true) %>
    </div>
    <div>
    </div>
    <div>
      <#%= label_tag :area_code, 'DDD' %>
      <#%= text_field_tag('area_code', nil, id: 'area-code', required: true) %>
    </div>
    <div>
      <#%= label_tag :phone_number, 'Número do telefone' %>
      <#%= text_field_tag('phone_number', nil, id: 'phone-number', required: true) %>
    </div>
    <div>
      <#%= label_tag :card_number, 'Número do Cartão' %>
      <#%= text_field_tag('card_number', nil, id: 'card-number', required: true) %>
    </div>
    <div>
      <#%= label_tag :expiration_date, 'Data de Validade' %>
      <#%= select_month(Date.today, {use_month_names: %w(Janeiro Fevereiro Março Abril Maio Junho Julho Agosto Setembro Outubro Novembro Dezembro)}, id: 'expiration-month', name: 'expiration_month') %>
      <#%= select_year(Date.today, {start_year: Date.current.year - 10, end_year: Date.current.year + 10}, id: 'expiration-year', name: 'expiration_year') %>
    </div>
    <div id="card-cvv-box" style="display: none">
      <#%= label_tag :card_cvv, 'Código de Segurança' %>
      <#%= text_field_tag :card_cvv, nil, id: 'card-cvv', required: true %>
    </div>
    <div id="card-options-box" style="display: none">
      <#%= label_tag :card_options, 'Opções de Parcelamentos' %>
      <#%= select_tag :card_options, nil, id: 'card-options'  %> 
    </div> 
    <div>
      <#%= button_tag('Finalizar pedido', type: 'button', id: 'submit-card-form') %>
    </div>
  </fieldset>
  


 <#% end %> -->
<!-- 
<#%= form_with(model: order, local: true) do |f| %>
  <#%= f.text_field :name %>
  <#%= f.text_field :address %>
  <#%= f.email_field :email %>
  <#%= f.select :pay_type, Order.pay_types.keys, id: 'order-pay-type', prompt: 'Selecione um método de pagamento' %>
  <#%= f.submit :Enviar %>
<#% end %>
-->
<!-- 

<#%= form_with(model: order, local: true, html: {style: 'display: none;'}) do |f| %>
  <#%= select_tag :pay_type, options_for_select(Order.pay_types.collect{|k, v| [k, v]}), id: 'pay-type', prompt: 'Selecione um método de pagamento'  %>
  <#%= f.submit 'Cartão de Crédito' %>

<#% end %>
 -->

<!--
<#%= form_with(model: order, local: true, html: {style: 'display: none;'}, id: 'boleto-form') do |f| %>
  Boleto
  <#%= hidden_field_tag :pay_type, 'Boleto' %>
  <#%= button_tag('Finalizar pedido', type: 'button', id: 'submit-boleto-form') %>
<#% end %>


<#%= form_with(model: order, local: true, html: {style: 'display: none;'}, id: 'credit-form') do |f| %>
  Cartão de crédito
  <#%= hidden_field_tag :pay_type, 'Cartão de crédito' %>
  <#%= button_tag('Finalizar pedido', type: 'button', id: 'submit-card-form') %>
<#% end %>




<#%= form_with(model: order, local: true) do |f| %>
  <#%= label_tag :boleto, 'Boleto' %>
  <#%= radio_button_tag 'pay_type', 'boleto' %>

  <#%= label_tag :credit_card, 'Cartão de Crédito' %>
  <#%= radio_button_tag 'pay_type', 'credit_card' %>

  <#%= label_tag :transfer, 'Transferência Bancária' %>
  <#%= radio_button_tag 'pay_type', 'transfer' %>

  <#%= f.submit 'Finalizar' %>

<#% end %>
