<div id="shipping-form-container" style="display: none;">
  <%= form_with(model: order, local: true, html: {id: 'shipping-form'}) do |f| %>
  <%= f.hidden_field :shipping, value: false, id: 'shipping' %>
    <%= f.fields_for :shipping_address, ShippingAddress.new do |ff| %>
      <%= ff.label :street, 'Rua' %>
      <%= ff.text_field :street %>
      <%= ff.label :number, 'Número' %>
      <%= ff.text_field :number %>
      <%= ff.label :complement, 'Complemento' %>
      <%= ff.text_field :complement %>
      <%= ff.label :postal_code, 'CEP' %>
      <%= ff.text_field :postal_code %>
      <%= ff.label :district, 'Bairro' %>
      <%= ff.text_field :district %>
      <%= ff.label :city, 'Cidade' %>
      <%= ff.text_field :city %>
    <% end %>
  <% end %>
</div>