<section>


  <div>
    <%= link_to 'Continuar comprando', root_path %>
  </div>

  <fieldset>        
    <div id="cart">
      <%= render @cart %>     
    </div>
  </fieldset>

  <fieldset>
    <h2>Finalizar Pedido</h2>
    <div data-controller="pagseguro shipping pay-type">
      <input type="hidden" name="session_id" value="<%= @session_id %>" data-target="pagseguro.sessionId">
      <input type="hidden" name="cart_total" value="<%= @cart.all_line_items_total_price %>" data-target="pagseguro.cartTotal shipping.cartTotal">
      <%# find the use in stimulus shipping_controller  %>
      <input type="hidden" name="cart_id" value="<%= @cart.id %>" data-target="shipping.cartId" > 
      <div id="shipping-method-selector" ></div>
      <div id="pay-type-selector" ></div>
    </div>
  </fieldset>
</section>