
<div>
	<%= link_to 'Continuar comprando', root_path %>
	
</div>

<fieldset>

	<%= render 'carts/cart' %>

</fieldset>

<fieldset>
	<h2>Finalizar Pedido</h2>

	<%= render 'frete' %>

	<%= render 'shipping_form', order: @order %>

	<%= render 'payment_methods' %>

	<%= render 'boleto_form', order: @order%>

	<%= render 'credit_card_form', order: @order %>
</fieldset>

