
<div>
	<%= link_to 'Continuar comprando', root_path %>
	
</div>

<fieldset>

	<%= render 'carts/cart' %>

</fieldset>

<fieldset>
	
	<h2>Finalizar Pedido</h2>

	<%= render 'frete' %>

	<%= render 'shipping_form', order: @order %>

	<%= render 'payment_methods' %>

	<%= render 'boleto_form', order: @order%>

	<%= render 'credit_card_form', order: @order %>

	<%= render 'deposito_form', order: @order %>

</fieldset>

<%= javascript_pack_tag 'cart.js' %>
<%= javascript_pack_tag 'boleto.js' %>
<%= javascript_pack_tag 'credit_card.js' %>
<%= javascript_pack_tag 'deposito.js' %>
<%= javascript_pack_tag 'frete_form.js' %>
<%= javascript_pack_tag 'get_payment_methods.js' %>
<%= javascript_pack_tag 'payment_methods_form.js' %>