<%= render 'document_type_form' %>

<div id="sign-forms">
  
  <%= render 'cpf_form' %>
  
  <%= render 'cnpj_form' %>

  <%= render 'login_form' %>

  <%= link_to "Esqueceu a senha?", new_password_path(resource_name) %><br />

</div>