<h1>Sua loja</h1>

<ul class="catalog">
    <% @products.each do |product| %>
        <li>
          <% if product.image %>
            <div class="catalog-img">
              <%= image_tag(product.image) %>
            </div>
          <% end %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price) %>

            <%= link_to 'Comprar', product_path(product) %>

          
          </div>
        </li>
    <% end %>
</ul>